<link rel="import" href="../polymer/lib/elements/dom-if.html">
<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/utils/resolve-url.html">
<link rel="import" href="../cells-device-behavior/cells-device-behavior.html">
<link rel="import" href="../cells-credentials-form/cells-credentials-form.html">
<link rel="import" href="../cells-molecule-spinner/cells-molecule-spinner.html">
<link rel="import" href="cells-login-view-styles.html">

<dom-module id="cells-login-view">
  <template>
    <style include="cells-login-view-styles cells-login-view-shared-styles"></style>
    <div id="loginView" class$="login-view [[_checkedMaximized(maximized)]] [[_checkedUsername(user.username)]] [[_checkIOS(isIOS)]] {{smallThumb}}" hidden$="[[loading]]">
      <dom-if if="[[headerImage]]">
        <template>
          <div class="header">
            <div class="before"></div>
            <img class="header-bg" id="heroImage" src$="[[_currentHeaderImage]]" alt="[[_currentHeaderImageAlt]]">
          </div>
        </template>
      </dom-if>

      <div class="form">
        <div class="before"></div>
        <cells-credentials-form id="credentialsUserPwd"
          on-login="_doLogin"
          on-request-change-user="_changeUser"
          on-cells-molecule-input-focus="_onInputFocus"
          on-cells-molecule-input-blur="_onInputBlur"
          autofocus="[[autofocus]]"
          icons-size="[[iconsSize]]"
          user-name="{{user.username}}"
          user-id="[[user.userId]]"
          user-password="{{user.password}}"
          document-type="[[user.documentType]]"
          register="[[allowRegistration]]"
          register-step="[[registrationStep]]"
          show-register-info="[[showRegistrationInfo]]"
          clear-id-icon="[[clearIdIcon]]"
          clear-pwd-icon="[[clearPwdIcon]]"
          clear-login-name-icon="[[clearLoginNameIcon]]"
          toggle-pwd-icon="[[togglePwdIcon]]"
          toggle-pwd-icon-toggled="[[togglePwdIconToggled]]"
          input-user-options="[[inputUserOptions]]"
          input-secondary-id-options="[[inputSecondaryIdOptions]]"
          autocapitalize$="[[autocapitalize]]"
          animated$="[[animated]]"
          backspace-pwd-full-delete="[[backspacePwdFullDelete]]"
          steps$="[[steps]]"
          onefield$="[[oneField]]"
          show-user-login-name="[[showUserLoginName]]"
          show-secondary-id="[[showSecondaryId]]"
          login-name="[[user.loginName]]"
          gender="[[user.gender]]"
          hour-greeting-morning="[[hourGreetingMorning]]"
          hour-greeting-noon="[[hourGreetingNoon]]"
          hour-greeting-night="[[hourGreetingNight]]"
          short-user-name="[[shortUserName]]">
          <slot></slot>
        </cells-credentials-form>
        <div class="after"></div>
      </div>
    </div>

    <div class="spinner-view" hidden$="[[!loading]]">
      <cells-molecule-spinner id="spinner"
        class="spinner"
        start-icon="[[startIcon]]"
        end-icon="[[endIcon]]"
        finish="[[loadingEnd]]"
        messages="[[messages]]"
        delay="[[loadingDelay]]"
        current-process="[[loadingCurrentProcess]]"
        process="[[loadingProcess]]">
      </cells-molecule-spinner>
    </div>
  </template>
  <script src="cells-login-view.js"></script>
</dom-module>
